# 리스트(list) 자료형
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 위해 사용함
-format : listName = [e1,e2,.....]

## 리스트 자료형 선언

In [1]:
var01 = []
var02 = [1,2,3]
var03 = ['I',"have",'a','dream']
var04 = [1,2,'dream','True']
var05 = [1,2,['Dream','True']]

## 리스트의 indexing 과 slicing

In [5]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)

print(var05[2][0])

[]
[1, 2, 3]
['I', 'have', 'a', 'dream']
[1, 2, 'dream', 'True']
[1, 2, ['Dream', 'True']]
Dream

In [6]:
#리스트의 계산
var02[0]+var02[1]

3

In [18]:
# 3중 리스트에서 Dream만 indexing 하고 출력하기
var = [1,2,['a','b',['Dream','True']]]
print(var[-1][-1][0])

Dream

In [19]:
print(var[2:])

[['a', 'b', ['Dream', 'True']]]

# 리스트 연산

In [20]:
# 리스트의 숫자합치기
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [25]:
# 리스트의 덧셈
for i in range(0,3):
    print(var01[i]+var02[i])

5
7
9

In [26]:
#리스트의 숫자 반복
var01 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [33]:
#리스트의 곱셈
#var01의 Data를 10배 계산하여 출력하기
#10
#20
#30
for i in var01:
    print(i*10)

10
20
30

In [35]:
#리스트의 타입 변화
var = [1,2,3]
print(str(var[2])+"hi!")

3hi!

In [36]:
temp = "123"
type(temp)
temp1 = int(temp)
type(temp1)

int

# 리스트 수정과 삭제

In [58]:
var = [1,2,3]
var[2] = 4
var

[1, 2, 4]

In [59]:
var[1:2] = ['a','b','c']
var

[1, 'a', 'b', 'c', 4]

In [57]:
#1 ~ 2 번지의 데이터를 지우기
var[1:3] = []
var

[1, 'c', 4]

In [60]:
#1 ~ 2 번지의 데이터를 지우기
del var[1:3]
var

[1, 'c', 4]

In [61]:
# 리스트에 요소 추가
var = [1,2,3]
var.append(4)
var

[1, 2, 3, 4]

In [63]:
var.append([5,6])
var

[1, 2, 3, 4, [5, 6]]

In [67]:
#리스트의 정렬
var = [1,4,2,3]
print(var)

#오름차순
var.sort()
print(var)

#내림차순
var.reverse()
print(var)

print(max(var))
print(min(var))

[1, 4, 2, 3]
[1, 2, 3, 4]
[4, 3, 2, 1]
4
1

In [69]:
#리스트 문자 정렬 : 한글
var = ['대','한','민','국']
var.sort()
print(var)
var.reverse()
print(var)

['국', '대', '민', '한']
['한', '민', '대', '국']