## range함수

range(시작숫자 , 끝 숫자, 증가값)

In [1]:
var = range(1,11)
var

range(1, 11)

In [2]:
# range의 범위를 list로 출력

list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [5]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [9]:
list(range(0,10,-2))

[]

In [11]:
# var[7:9]
var[9]

10

In [7]:
type(var)

range

# for문에 range함수 사용하기

In [12]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
#1부터 10까지의 수중 홀수만 출력하기
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [36]:
#구구단 9단 출력
for i in range(1,10):
    j = 9
    # for j in range(1,10):
        #print(i,"X",j,'=','%2d'%(i*j))
    print(j,"X",i,'=','%2d'%(j*i))

9 X 1 =  9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [39]:
print('aaa', end = ' ')
print('bbb')

aaa bbb

In [57]:
#구구단 결과만 출력
for i in range(2,10):
    print( )
    for j in range(1,10):
        print('%2d'%(i*j), end = ' ')

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

## for문에 List 사용하기

In [58]:
test_list = ['one','two','three']
#print(test_list)

for i in test_list:
    print(i)

one
two
three

In [59]:
#평균 구하기
scores = [78,85,95,65]
total = 0

for score in scores:
    total += score
    
    
print(total / len(scores))

80.75

## for문에 Tuple 사용하기

In [60]:
var = [(1,2),(3,4),(5,6)]

for first, last in var:
    print(first,":",last)

1 : 2
3 : 4
5 : 6

In [61]:
sum1 = 0
for first, last in var:
    sum1 += first + last
    
print(sum1)

21

총 5명의 학생이 시험을 보았는데, 시험점수가 60점을 넘으면 합격, 그렇지 않으면 불합격이다. 이 때, 합격과 불합격 결과 보여주기

In [87]:
scores = [90,25,65,42,80]
for number in range(len(scores)):
    #print(number)
    if scores[number]>=60:
        print(number+1,'의 학생은 합격입니다.')
    else:
        print(number+1,'의 학생은 불합격입니다.')

1 의 학생은 합격입니다.
2 의 학생은 불합격입니다.
3 의 학생은 합격입니다.
4 의 학생은 불합격입니다.
5 의 학생은 합격입니다.

In [109]:
scores = [90,25,65,42,80]
number = 1
for score in scores:
        if score >= 60:
            print(number,'의 학생은 합격입니다.')
            number += 1
        else:
            print(number,'의 학생은 불합격입니다.')
            number += 1

1 의 학생은 합격입니다.
2 의 학생은 불합격입니다.
3 의 학생은 합격입니다.
4 의 학생은 불합격입니다.
5 의 학생은 합격입니다.

In [110]:
scores = [90,25,65,42,80]
number = 1
for score in scores:
        if score >= 60:
            print(number,'의 학생은 점수가',score,'이므로 합격입니다.')
            number += 1
        else:
            print(number,'의 학생은 점수가',score,'이므로 불합격입니다.')
            number += 1

1 의 학생은 점수가 90 이므로 합격입니다.
2 의 학생은 점수가 25 이므로 불합격입니다.
3 의 학생은 점수가 65 이므로 합격입니다.
4 의 학생은 점수가 42 이므로 불합격입니다.
5 의 학생은 점수가 80 이므로 합격입니다.

학생들 점수의 평균을 구하여 평균점수 기준으로 합격,불합격 보여주기

In [114]:
scores = [90,25,65,42,80]
number = 1
avg = 0.0
total = 0
import numpy as np
np.sum(scores)
total = np.sum(scores)
import numpy as np
np.mean(scores)
avg = np.mean(scores)
print('학급의 평균점수는',avg,'입니다.')
print('학급의 점수 총점은',total,'입니다.')
for score in scores:
        if score >= 60:
            print(number,'의 학생은 점수가',score,'이므로 합격입니다.')
            number += 1
        else:
            print(number,'의 학생은 점수가',score,'이므로 불합격입니다.')
            number += 1

학급의 평균점수는 60.4 입니다.
학급의 점수 총점은 302 입니다.
1 의 학생은 점수가 90 이므로 합격입니다.
2 의 학생은 점수가 25 이므로 불합격입니다.
3 의 학생은 점수가 65 이므로 합격입니다.
4 의 학생은 점수가 42 이므로 불합격입니다.
5 의 학생은 점수가 80 이므로 합격입니다.

In [115]:
var01 = [1,2,3,4]
var02 = []

for i in var01:
    var02.append(i*5)
    
print(var02)

[5, 10, 15, 20]

## 파이썬의 listed for문

In [117]:
var01 = [1,2,3,4]
var02 = []

var02 = [i * 5 for i in var01]
var02

[5, 10, 15, 20]

In [140]:
#위의 소스에서 짝수인 경우에만 5를 곱하는 리스트 만들기
var01 = [1,2,3,4]
var02 = []

var02 = [i * 5 for i in var01 if i % 2 == 0]
var02

[10, 20]

In [154]:
#구구단 결과만 리스트로 만들기(2~9단)

# 이 방법이 아니라 밑의 result 를 이용하면 더 간편하다!! 조금 더 짧은 코드를 쓰게 하는 것이 중요!!
# var01 = [1,2,3,4,5,6,7,8,9]
# var02 = [1,2,3,4,5,6,7,8,9]
# var03 = []

# var03 = [i * j for i in var01 for j in var02]
# print(var03, end=' ')
result = [i * j for i in range(2,10) for j in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [171]:
#60점 이상의 학생점수만 List로 만들어서 평균 구하기 
scores = [90,25,67,45,80]
passList = [i for i in scores if i>=60]
print("합격한 학생들의 평균점수는 %.2f입니다."%np.mean(passList))

합격한 학생들의 평균점수는 79.00입니다.